<div id="content">
  <div class="ui container">
    <div class="ui jumbotron message">
      <div class="ui huge header">TPM</div>
      <p>
        Description:
        A transaction processing monitor (TPM) is a type of distributed information system that offers a
        transactional programming model to allow an application to access multiple web servers or
        database servers
      </p>
    </div>
    <div class="ui center aligned container">
      <h2 class="ui huge header">Authors</h2>
      <div class="ui medium sequenced images">
        <%= image_tag("1626796769.jpg", class: "ui circular image ") %>
      </div>
    </div>
    
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
  
  $('.sequenced.images .image').hover().transition({
    debug     : true,
        animation : 'jiggle',
        duration  : 500,
        interval  : 200
  });

</script>
