<div class="ui center aligned container" >
  <div class="ui huge yellow inverted segment" >
    <%= link_to "CREATE NEW BIRTH DEATH REGISTRY CITIZEN DATA", new_registry_citizen_path, class: "floating ui black tag label"%>
    <span class="ui huge header">BIRTH AND DEATH REGISTRY</span>
  </div>
  <div class="ui center aligned container" style="width: 50%">
    <%@registry_citizens.each do |citizen|%>
      <div class="ui segment">
        <div class="ui vertical divider"><i class="info icon"></i></div>
        <div class="ui two column grid">
          <%= link_to registry_citizen_path(citizen), class: "column" do %>
            <div class="ui small stretched image">
              <%= image_tag(citizen.image, class: "ui rounded image") %>
            </div>
          <% end %>
          <%= link_to electoral_citizen_path(citizen), class: "column" do %>
          <div class="column" style="color: black;">
            <h2 class="header"><%= "#{citizen.first_name.upcase} #{citizen.last_name.upcase}"%></h2>
            <h5 class="header" style="text-decoration: underline; font-weight:lighter">General ID</h5>
            <h3 class="header"><%= citizen.general_id%></h3>
            <h5 class="header" style="text-decoration: underline; font-weight:lighter">Description</h5>
            <h3 class="header"><%= citizen.description%></h3>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>