<div id="content">
  <div class="ui container">
    <div class="ui center aligned segment">
      <h2 class="huge inverted header">
        CITIZEN DATA BIRTH DEATH REGISTRY
      </h2>
    </div>
    <div class="ui center aligned container">
      <div class="ui three column stackable center aligned grid">
        <div class="column">
          <div class="ui segment">
              <h4 class="header" style="text-decoration: underline;">name</h4>
              <h1><%= @registry_citizen.first_name%> <%= @registry_citizen.last_name%></h1>
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
              <div class="ui slide masked reveal">
                <%= image_tag(@registry_citizen.image, class: "visible content")%>
                <%= image_tag(@registry_citizen.image, class: "hidden content")%>
              </div>
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <h4 class="header" style="text-decoration: underline;">Description</h4>
          <h1>
            <%= @registry_citizen.description%>
          </h1>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
