
<div class="ui center aligned container" style="width:40%">
  <h2 class="ui huge header">Welcome Admin</h2>
  <div class="ui container">
    <div class="ui segment">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui form"}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field" style="font-size: 1.3em;">
          <%= f.label :email%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", required: true %>
        </div>

        <div class="field" style="font-size: 1.3em;">
          <%= f.label :password%><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", required: true%>
        </div>

        <% if devise_mapping.rememberable? %>
      
          <div class="ui slider checkbox" style="margin: 1%; font-size: 1.1em;">
            <%= f.check_box :remember_me %> 
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "ui primary large button" %>
        </div>
      <% end %>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>