body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ui.jumbotron.message .ui.huge.header {
  font-size: 4em;
}

.ui.fluid.vertical.menu > .item > .ui.header {
  margin-bottom: 5px;
}

.ui.jumbotron.message {
  padding: 6em 4em;
  box-shadow: none;
  background-color: #eeeeee;
}

.ui.jumbotron.message p {
  font-size: 1.5em;
  font-weight: 200;
}

.ui.dividing.header {
  margin-top: 2em;
  margin-bottom: 1em;
}

#content {
  margin-top: 5em;
  padding-bottom: 4em;
}

.ui.celled.table tr td:first-child,
.ui.celled.table tr th:first-child {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.borderless.menu {
  box-shadow: none;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  display: none;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
  float: unset;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
  content: "\f0d7";
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
  position: static;
  width: 100%;
  background-color: unset;
  border: none;
  box-shadow: none;
  margin-top: 6px;
}

.ui.mobile.only.grid
  .ui.inverted.vertical.menu
  .ui.dropdown.item
  .menu
  .header,
.ui.mobile.only.grid
  .ui.inverted.vertical.menu
  .ui.dropdown.item
  .menu
  .item {
  color: rgba(255, 255, 255, 0.9) !important;
}

/* Login styling */

  form{
    background-color: #eeeeee;
    padding: 20px;
  }

  @media(max-width: 692px){
    form{
      width: 100%;
      padding: 20px;
    }
  }
  @media(max-width: 450px){
    form{
      width: 100%;
      padding: 20px;
    }
  }

/* Awards Styling */