<div class="ui center aligned container" >
  <div class="ui mini segment" >
    <span class="ui huge header">CATEGORIES</span>
  </div>
  <div class="ui container">
    <div class="ui segments">
      <div class="ui purple segment">
        <%= form_with(class: "ui form") do |f| %>
          
          <div class="field">
            <h2 class="ui header">Search</h2>
          </div>
          <div class="field">
            <%= f.text_field :key, required: true, placeholder: "Search Keyword" %>
          </div>
          <div class="field">
            <div class="ui selection dropdown">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">Search By</div>
              <div class="menu">

                  <div class="item" data-value="0">First Name</div>
                  <div class="item" data-value="1">Last Name</div>
                  <div class="item" data-value="2">General ID</div>
              </div>
          </div>
          </div>
          <input class="ui huge purple submit button" type="submit">
        <% end %>

      </div>
      <div class="ui red inverted segment">
        

        <div class="ui header">ELECTORAL COMMISSION</div>
          <div class="ui link centered cards">
          <%@electoral_citizens.each do |citizen|%>
           <%= link_to electoral_citizen_path(citizen) do %>
              <div class="ui card">
                <div class="image">
                  <%= image_tag(citizen.image, class: "ui rounded image") %>
                </div>
                  <%= link_to "#{citizen.first_name}", electoral_citizen_path(citizen), class: "ui basic huge bottom attached label"%>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="ui yellow inverted segment">

        <div class="ui header">BIRTH AND DEATH REGISTRY</div>
          <div class="ui link centered cards">
          <%@registry_citizens.each do |citizen|%>
           <%= link_to registry_citizen_path(citizen) do %>
              <div class="ui card">
                <div class="image">
                  <%= image_tag(citizen.image, class: "ui rounded image") %>
                </div>
                  <%= link_to "#{citizen.first_name}", registry_citizen_path(citizen), class: "ui basic huge bottom attached label"%>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="ui green inverted segment">

        <div class="ui header">NHIS</div>
          <div class="ui link centered cards">
          <%@nhis_citizens.each do |citizen|%>
           <%= link_to nhis_citizen_path(citizen) do %>
              <div class="ui card">
                <div class="image">
                  <%= image_tag(citizen.image, class: "ui rounded image") %>
                </div>
                  <%= link_to "#{citizen.first_name}", nhis_citizen_path(citizen), class: "ui basic huge bottom attached label"%>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="ui blue inverted segment">
  
          <div class="ui header">DVLA</div>
            <div class="ui link centered cards">
            <%@dvla_citizens.each do |citizen|%>
             <%= link_to dvla_citizen_path(citizen) do %>
                <div class="ui card">
                  <div class="image">
                    <%= image_tag(citizen.image, class: "ui rounded image") %>
                  </div>
                    <%= link_to "#{citizen.first_name}", nhis_citizen_path(citizen), class: "ui basic huge bottom attached label"%>
                </div>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('select.dropdown').dropdown();
</script>
