<div class="ui center aligned container" >
  <div class="ui mini segment" >
    <span class="ui huge header">RESULT</span>
  </div>
  <div class="ui container">
    <div class="ui segments">
      <div class="ui red inverted segment">
        

        <!-- <div class="ui header">RESULT</div> -->
          <div class="ui link centered cards">
          <%session[:result].each_with_index do |result, index|%>
          <%result.each do |citizen|%>
          <div class="ui red inverted segment">
        

              <div class="ui link centered cards">
                <% path = registry_citizen_path(citizen["id"]) if index == 0 %>
                <% path = electoral_citizen_path(citizen["id"]) if index == 1 %>
                <% path = nhis_citizen_path(citizen["id"]) if index == 2 %>
                <% path = dvla_citizen_path(citizen["id"]) if index == 3 %>
               <%= link_to path do %>
                  <div class="ui card">
                    <div class="image">
                      <%= image_tag(citizen["image"], class: "ui rounded image") %>
                    </div>
                      <%= link_to "#{citizen["first_name"]}", path, class: "ui basic huge bottom attached label"%>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('select.dropdown').dropdown();
</script>
