<div class="ui vertical footer segment">
<div class="ui center aligned container">
  <i class="big facebook icon"></i>
  <i class="big instagram icon"></i>
  <i class="big twitter icon"></i>
  <i class="big youtube icon"></i>
</div>
</div>