<div class="ui tablet computer only padded grid">
  <div class="ui top fixed  large borderless menu">
    <div class="ui container">
      <a href="<%= all_citizens_path %>" style="display:flex; justify-content:center; align-items:center">
        <i class="big folder outline icon"></i>
      </a>
      <% if current_user %>
        <%= link_to "EC", electoral_citizens_path, class: "item"%>
        <%= link_to "B&D REG", registry_citizens_path, class: "item" %>
        <%= link_to "NHIS", nhis_citizens_path, class: "item" %>
        <%= link_to "DVLA", dvla_citizens_path, class: "item" %>
      <% end %>
      <%= link_to "About", static_pages_about_path, class: "item" %>

    <div class="right menu">
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, class: "ui item"%>
      <%else%>

      <%- if controller_name != 'sessions' %>
        <div class="ui item">
          <%= link_to "Login", new_user_session_path, class: "ui inverted blue button"%>
        </div>
      <% end %>

      <%- if controller_name != 'registrations' %>
        <div class="ui item">
          <%= link_to "SignUp", new_user_registration_path, class: "ui pink inverted button"%>
        </div>
      <% end %>
        
      <% end %>
      
    </div>
</div>

  </div>
</div>

<div class="ui mobile only grid">
  <div class="ui inverted top fixed borderless menu">
    <%= link_to "Awards", awards_path, class: "header item"%>
    <div class="right menu">
      <div class="item">
        <button class="ui icon toggle basic inverted button">
          <i class="content icon"></i>
        </button>
      </div>
    </div>
    <div class="ui inverted vertical borderless fluid menu">
      <%= link_to "Home", awards_path, class: "item"%>
      <%= link_to "Nominees", nominees_path, class: "item" %>
      <%= link_to "About", static_pages_about_path, class: "item" %>
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, class: "ui item"%>
      <%else%>
        <div class="ui item">
          <%= link_to "Login", new_user_session_path, class: "ui inverted blue primary button"%>
        </div>
        <div class="ui item">
          <%= link_to "SignUp", new_user_registration_path, class: "ui pink inverted button"%>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
